@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  margin: 0;
}


@media (max-width: 768px) {
  html, body {
    height: 100vh;
    height: 100dvh; 
    overflow: hidden;
  }
}